<form action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="text" name="email" id="Email">
  <input type="password" name="password" id="Password">
  <input type="submit" value="Log In">
</form>
