<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Survey Form</title>
    <%= stylesheet_link_tag "stylesheets/surveys.scss" %>
  </head>
  <body>
    <div id="wrapper">
      <% flash.each do |key, value| %>
        <%= content_tag :li, value, class: "flash #{key}" %>
      <% end %>
      <div id="content">
        <h1>Survey Form</h1>
        <form action="/result" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <ul>
            <li>Your Name:</li>
            <li><input type="text" name="user[name]" /></li>
            <li>Dojo Location:</li>
            <li>
              <select name="user[location]">
                <option value="San Jose">San Jose</option>
                <option value="Bellevue">Bellevue</option>
                <option value="Burbank">Burbank</option>
                <option value="Dallas">Dallas</option>
                <option value="McLean">McLean</option>
                <option value="Chicago">Chicago</option>
                <option value="Emeryville">Emeryville</option>
                <option value="Costa Mesa">Costa Mesa</option>
              </select>
            </li>
            <li>Favorite Language:</li>
            <li>
              <select name="user[language]">
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="Ruby">Ruby</option>
                <option value="Swift">Swift</option>
                <option value="C#">C#</option>
              </select>
            </li>
            <li>Comment (optional):</li>
            <li>
              <textarea name="user[comment]" rows="5" cols="50"></textarea>
            </li>
          </ul>
          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </body>
</html>
