<form action="/sessions" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="text" id="Email" name = "email">
	<input type="text" id="Password" name = "password">
	<input type="submit" name="Log In" value="Log In">
</form>