<!-- <h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/sessions" method="post">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <label>Email <input type="text" id="Email" name="login[email]"></label><br/>
      <label>Password <input type="text" id="Password" name="login[password]"></label><br/>
      <input type="submit" name="Log In" value="Log In">
    </form>
  </body>
</html>
