<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All the Dojos</title>
  </head>
  <body>
    <h1>Listing All the Dojos</h1>
    <table>
      <thead>
        <th>Coding Dojo Branch</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
      </thead>
      <tbody>
        <% if @dojos %>
          <% @dojos.each do |element| %>
            <tr>
              <td><%= element.branch %></td>
              <td><%= element.street %></td>
              <td><%= element.city %></td>
              <td><%= element.state %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
